<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Lets Vote
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
</head>
<body>
    <header class="header">
        <nav class="nav-bar">
            <span role="img" aria-label="Description">
                <a href="/">🏠</a>
            </span>

            <span role="img" aria-label="Description">
            <a href="/">😃</a>
            </span>

            <span role="img" aria-label="Description">
            <a href="{% url 'election_list' %}">📰</a>
            </span>
            
            <span role="img" aria-label="Description">
            <a href="/">🚀</a>
            </span>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer class="footer"></footer>
</body>
</html>