* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-size: 30px;
}

nav {
    background-color: aqua;
    height: 100px;
    line-height: 100px;
    margin: 60px;
    border-radius: 1rem;
    padding: 10px;
}

main {
    place-items: center;
}